<a href="https://colab.research.google.com/github/ChamplainBrent/DataMining/blob/main/Untitled14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd

university_towns = []

with open('/content/university_towns.txt') as file:
  for line in file:
    if '[edit]' in line:
      state = line 
    else:
      university_towns.append((state, line))

#university_towns[:5]

towns_df = pd.DataFrame(university_towns, columns=['State', 'RegionName'])

#towns_df['State'] = towns_df['State'].str.replace('\[edit\]\\n', '')

def get_citystate(item):
     if ' (' in item:
         return item[:item.find(' (')]
     elif '[' in item:
         return item[:item.find('[')]
     else:
         return item

towns_df.applymap(get_citystate)

towns_df.head(1).applymap(get_citystate)

     State RegionName
0  Alabama     Auburn